:root {
    --piece-size: 50px;
    --piece-color: #F5F5DC;
    --icon-size: 80%;
}

.piece {
    width: var(--piece-size);
    height: var(--piece-size);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--piece-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.piece.selected {
    transform: scale(1.2);
    border: 2px solid #000;
}

.piece:hover {
    cursor: pointer;
    background-color: #E0E0D1;
}

.piece.disabled {
    .icon, .number {
        opacity: 0.4;
        pointer-events: none;
        filter: grayscale(10%);
    }
    
}

.number {
    position: absolute;
    top: 5%;
    right: 18%;
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 768px) {
  .number {
    top: 8%;
    right: 22%;
    font-size: 1.2rem;
    font-weight: 800;
  }
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

