.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: fit-content;
  width: 100%;
  overflow: auto;
  background-color: var(--board-color);
}
